html, body {
    background: #ebebeb none repeat scroll 0 0;
    color: #505050;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
    line-height: 1.75em;
    position: relative;
}
.home-template .main-header {
    background: no-repeat center 20%;
    background-size: cover;
    padding-bottom: 62px;
    padding-top: 62px;
}
.main-header {
    background: #ffffff none repeat scroll 0 0;
    padding: 42px 0;
    text-align: center;
}
.main-header {
    text-align: center;
}
.main-navigation {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 2px solid #e1e1e1;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    text-align: center;
}
.main-navigation .menu {
    margin: 0;
    padding: 0;
}
.main-navigation .menu li.nav-current {
    border-bottom: 2px solid #e67e22;
    margin-bottom: -2px;
}
.main-navigation .menu li {
    display: inline-block;
    list-style: outside none none;
    position: relative;
}
.main-navigation .menu li a {
    color: #505050;
    display: block;
    line-height: 4em;
    padding: 0 21px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    color: #e67e22;
    outline: medium none;
}
a {
    background-color: transparent;
}
.post .post-head .post-title a {
    color: #303030;
}
.post {
    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 35px;
    overflow: hidden;
    padding: 35px;
    position: relative;
}
.post .post-head {
    text-align: center;
}
.post .post-head .post-title {
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
}
h1 {
    font-size: 3em;
}
h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: 400;
}
.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0;
}
.post .post-head .post-meta span {
    margin: 0 7px;
    white-space: nowrap;
}
.post .post-content {
    margin: 30px 0;
}
.post-content {
    color: #444443;
    font: 400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}
.btn-default {
    background: #e67e22 none repeat scroll 0 0;
    border: 1px solid #e67e22;
    color: #ffffff;
    transition: all 0.2s ease-in-out 0s;
}
.btn {
    border-radius: 2px;
    padding: 7px 14px;
}
.post .post-footer {
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
    padding: 21px 0 0;
}
.post .post-footer .tag-list {
    color: #959595;
    line-height: 28px;
}